venv/
.venv/
*.pyc
__pycache__/
source/audio/__pycache__
source/timbre_transsfer/__pycache__
cpac-venv/
source/gui/__pycache__
source/pose/__pycache__
source/pose/Dataset
source/pose/FineTuning
.DS_Store

